.search-box{
-fx-background-color:#FFFFFF;
-fx-background-radius: 100;
}

.transparent{
-fx-background-color: rgba(0,0,0,0);
}

.search-button{
-fx-background-color: #828282;
-fx-background-radius: 100;
}

.right-bar{
-fx-background-color: #C8FFC8;
}

.shadow{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}

.tab {
    -fx-pref-width: 120
}
.tab-header-background {
    -fx-background-color: #C8FFC8
}
* {
	-fx-primary-color: #808080;
	-fx-secondary-color: #FFFFFF;

	-fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-primary-color;
}

.tab-pane .tab:selected {
	-fx-background-color: -fx-secondary-color;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
 	-fx-alignment: CENTER;
	-fx-text-fill: #555555;
	-fx-font-weight: bold;
	-fx-padding: 0 0 0 0;
}
.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 0;
}
.tab-pane {
	-fx-background-color: transparent;
	-fx-tab-min-width: 90px;
	-fx-tab-max-width: 90px;
	-fx-tab-min-height: 40px;
	-fx-tab-max-height: 40px;
}
.tab-pane .tab {
	-fx-background-color: #777777;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 10;
	-fx-border-insets: 5 5 5 5;
	-fx-border-radius: 10;
}
/*
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 0px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
*/

